In [1]:
import pandas as pd
from pandasql import sqldf
from sqlalchemy import create_engine

In [2]:
# Konfigurasi database
db_uri = 'postgresql+psycopg2://postgres:12345@localhost:5432/de_mentor'

In [3]:
# Buat engine SQLAlchemy
engine = create_engine(db_uri)

In [4]:
#read data csv files
df_covid_all = pd.read_csv('../dataset/owid-covid-data.csv')
df_covid_all

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.50,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119923,ISR,Asia,Israel,2022-08-24,NaN,NaN,NaN,NaN,NaN,NaN,...,35.4,NaN,2.99,82.97,0.919,9449000.0,NaN,NaN,NaN,NaN
119924,ISR,Asia,Israel,2022-08-25,NaN,NaN,NaN,NaN,NaN,NaN,...,35.4,NaN,2.99,82.97,0.919,9449000.0,NaN,NaN,NaN,NaN
119925,ISR,Asia,Israel,2022-08-26,NaN,NaN,NaN,NaN,NaN,NaN,...,35.4,NaN,2.99,82.97,0.919,9449000.0,NaN,NaN,NaN,NaN
119926,ISR,Asia,Israel,2022-08-27,NaN,NaN,NaN,NaN,NaN,NaN,...,35.4,NaN,2.99,82.97,0.919,9449000.0,NaN,NaN,NaN,NaN
119927,ISR,Asia,Israel,2022-08-28,4630220.0,6922.0,26397.429,11635.0,41.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_covid_all.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-02-09,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-02-16,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-02-23,NaN,0.0,0.000,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-03-01,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-03-08,1.0,0.0,0.143,NaN,0.0,0.0,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [6]:
#transform process
#filter data total_case is not null
#and total_deaths is not null
#and location indonesia
#and new_deaths more than 5
df_idn = sqldf(''' select * from df_covid_all where total_cases is not null and total_deaths is not null and location ='Indonesia' and 
new_deaths > 5 ''')

In [7]:
df_idn

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,IDN,Asia,Indonesia,2020-03-22,514.0,397.0,73.429,48.0,44.0,6.857,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
1,IDN,Asia,Indonesia,2020-03-29,1285.0,771.0,183.571,114.0,66.0,16.286,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
2,IDN,Asia,Indonesia,2020-04-05,2273.0,988.0,324.714,198.0,84.0,28.286,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
3,IDN,Asia,Indonesia,2020-04-12,4241.0,1968.0,605.857,373.0,175.0,53.286,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
4,IDN,Asia,Indonesia,2020-04-19,6575.0,2334.0,939.286,582.0,209.0,83.143,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,IDN,Asia,Indonesia,2023-07-23,6812818.0,148.0,611.571,161903.0,8.0,16.286,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
175,IDN,Asia,Indonesia,2023-07-30,6812966.0,148.0,406.714,161914.0,11.0,13.286,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
176,IDN,Asia,Indonesia,2023-12-17,6817154.0,1998.0,532.143,161930.0,7.0,1.714,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
177,IDN,Asia,Indonesia,2023-12-24,6819830.0,2676.0,914.429,161954.0,24.0,5.143,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None
178,IDN,Asia,Indonesia,2023-12-31,6820926.0,1096.0,1071.000,161965.0,11.0,6.714,...,76.1,64.204,1.04,71.72,0.718,275501344.0,None,None,None,None

In [8]:
df_idn.shape[0]

179

In [9]:
distinct_location = sqldf('''
select distinct location from df_covid_all where location = "Bahrain"
''')
distinct_location

  location
0  Bahrain

In [10]:
df_bahrain = sqldf('''
select * from df_covid_all where location = "Bahrain" and total_cases IS NOT NULL and total_deaths IS NOT NULL
''')
df_bahrain

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,BHR,Asia,Bahrain,2020-03-22,311.0,100.0,44.429,1.0,1.0,0.143,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
1,BHR,Asia,Bahrain,2020-03-29,476.0,165.0,68.000,4.0,3.0,0.571,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
2,BHR,Asia,Bahrain,2020-04-05,688.0,212.0,98.286,4.0,0.0,0.571,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
3,BHR,Asia,Bahrain,2020-04-12,1040.0,352.0,148.571,6.0,2.0,0.857,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
4,BHR,Asia,Bahrain,2020-04-19,1773.0,733.0,247.429,7.0,1.0,1.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,BHR,Asia,Bahrain,2023-12-03,696614.0,0.0,0.000,1536.0,0.0,0.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
194,BHR,Asia,Bahrain,2023-12-10,696614.0,0.0,0.000,1536.0,0.0,0.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
195,BHR,Asia,Bahrain,2023-12-17,696614.0,0.0,0.000,1536.0,0.0,0.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
196,BHR,Asia,Bahrain,2023-12-24,696614.0,0.0,0.000,1536.0,0.0,0.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None
197,BHR,Asia,Bahrain,2023-12-31,696614.0,0.0,0.000,1536.0,0.0,0.000,...,37.6,None,2.0,77.29,0.852,1472237.0,None,None,None,None

In [11]:
count_data = df_bahrain.shape[0]
count_data

198

In [12]:
#load data after transformation to postgresql
TABLE_NAME = 'data_covid_bahrain'
df_bahrain.to_sql(name=TABLE_NAME, con=engine,index=False)
print(f'Total Record has been inserted are {count_data} to table {TABLE_NAME} ')

Total Record has been inserted are 198 to table data_covid_bahrain

In [17]:
df_nick_location = sqldf('''
select lower(substring(location,1,3)) as iso_code from df_covid_all
where lower(location) = "afg"
''')
df_nick_location

Empty DataFrame
Columns: [iso_code]
Index: []